@media only screen and (min-width: 900px) {
  .grid {
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto;
      box-sizing: border-box;
      object-fit: cover;
      align-self: center;
  }

  .SschessContainer{
      display: flex;
      height: 55%;
      width: 100%;
      flex-direction: column;
      align-items: center;
      border: 10px;
      border-color: white;
  }
  .gridContainer {
      display: flex;
      aspect-ratio:  1 / 1;
      height: 100%;
      flex-direction: column;
      justify-content: right;
      align-self: center;
      align-items: right;
  }

  .tituloSSchess {
      font-size: 250%;
      text-align: center;
  }

  .nivelActual {
      font-size: x-large;
      align-self: center; 
      display: inline-block;

  }

  .buttonContainer {
      align-self: center; 
  }

  .gameInfoContainer {
      color: white;
      width: 66%;
      height: fit-content;
      display: flex;
      flex-direction: row;
      align-self: center;
      justify-content: center;
      gap: 15%;
      padding: 2%;

  }

  .mensajeSecretoContainer {
      height: fit-content;
      border: 0.15rem solid #000; /* Borde de la caja */
      align-self:center;
      justify-content: center;
      
  }
  .botonReinicio {
      padding: 5rem, 10rem;
      font-size: 1.5rem;
      background-color: #25C2A0;
      color: black;
      border: none;
      border-radius: 5px;
      align-self: left;
      cursor: pointer;
  }
  .imgPieza{
    height: 3rem;

  }

    .row {
      display: flex;
      flex-direction: row;
      width: 40rem;
      height: 5rem;
      max-height: 100%;
      padding: 0rem;
      flex-grow:0;
      gap: 0px;
      object-fit: contain;
    }
  
    .grillaBlanca {

                        width: 100%;
                        height: 50%;
                        display: flex;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        flex-grow: 0%;
                        max-height: 100%;
                        box-sizing: border-box;
                        object-fit: contain;

                        border: 3px solid white;
    }
    .grillaRoja {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        border: 3px solid red;
                        max-height: 100%;
                        box-sizing: border-box;
                        object-fit: contain;

    }
}
                  
@media only screen
and (max-width : 450px) {
  .grid {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      object-fit: cover;
      align-self: center;
      align-items: center;
  }

  .SschessContainer{
      display: flex;
      height: 55%;
      width: 100%;
      flex-direction: column;
      padding-bottom: 0px;
      align-items: center;

  }
  .gridContainer {
      display: flex;
      aspect-ratio:  1 / 1;
      width: 100%;
      flex-direction: column;
      justify-content: right;
      align-self: center;
      align-items: right;
  }

  .tituloSSchess {
      font-size: 150%;
      text-align: center;
  }

  .nivelActual {
      font-size: large;
      align-self: center; 
      display: inline-block;

  }

  .buttonContainer {
      align-self: center; 
  }

  .gameInfoContainer {
      color: white;
      width: 66%;
      height: fit-content;
      display: flex;
      flex-direction: row;
      align-self: center;
      justify-content: center;
      gap: 15%;
      padding: 2%;

  }

  .grillaBlanca {

                        width: 100%;
                        height: 100%;
                        display: flex;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        flex-grow: 0%;
                        max-height: 100%;
                        box-sizing: border-box;
                        object-fit: contain;
                        border: 2px solid white;
    }
    .grillaRoja {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        border: 2px solid red;
                        max-height: 100%;
                        box-sizing: border-box;
                        object-fit: contain;

    }
  .botonReinicio {
      font-size: 1rem;
      background-color: #25C2A0;
      color: black;
      border: none;
      border-radius: 5px;
      align-self: left;
      cursor: pointer;
  }
  img{
    height: 1.25rem;
  }
  .imgPieza {
    height: 50%;
  }
    .row { 
      display: flex;
      flex-direction: row;
      width: 90%;
      height: 12.5%;
      padding: 0rem;
      flex-grow:0;
      gap: 0px;
      object-fit: contain;
    }
}

@media only screen and (min-width: 451px) and (max-width: 899px) {
  .grid {
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto;
      box-sizing: border-box;
      object-fit: cover;
      align-self: center;
  }

  .SschessContainer{
      display: flex;
      height: 55%;
      width: 100%;
      flex-direction: column;
      align-items: center;
      border: 10px;
      border-color: white;
  }
  .gridContainer {
      display: flex;
      aspect-ratio:  1 / 1;
      height: 100%;
      flex-direction: column;
      justify-content: right;
      align-self: center;
      align-items: right;
  }

  .tituloSSchess {
      font-size: 250%;
      text-align: center;
  }

  .nivelActual {
      font-size: x-large;
      align-self: center; 
      display: inline-block;

  }

  .buttonContainer {
      align-self: center; 
  }

  .gameInfoContainer {
      color: white;
      width: 66%;
      height: fit-content;
      display: flex;
      flex-direction: row;
      align-self: center;
      justify-content: center;
      gap: 15%;
      padding: 2%;

  }

  .mensajeSecretoContainer {
      height: fit-content;
      border: 0.15rem solid #000; /* Borde de la caja */
      align-self:center;
      justify-content: center;
      
  }
  .botonReinicio {
      padding: 5rem, 10rem;
      font-size: 1.5rem;
      background-color: #25C2A0;
      color: black;
      border: none;
      border-radius: 5px;
      align-self: left;
      cursor: pointer;
  }
  .imgPieza{
    height: 3rem;

  }

    .row {
      display: flex;
      flex-direction: row;
      width: 40rem;
      height: 5rem;
      max-height: 100%;
      padding: 0rem;
      flex-grow:0;
      gap: 0px;
      object-fit: contain;
    }
  
    .grillaBlanca {

                        width: 100%;
                        height: 50%;
                        display: flex;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        flex-grow: 0%;
                        max-height: 100%;
                        box-sizing: border-box;
                        object-fit: contain;

                        border: 3px solid white;
    }
    .grillaRoja {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        border: 3px solid red;
                        max-height: 100%;
                        box-sizing: border-box;
                        object-fit: contain;

    }
}
