@media only screen and (min-width: 900px) {
  .mainContainer{
      color: white;
      background-color: #242526;
      font-family: 'Montserrat', sans-serif;
      width: 50%; /* Ancho de la caja */
      display: flex;
      gap: 5rem;
      font-size: 150%;
      flex-direction: column;
      height: fit-content;
      margin: auto;
      padding-top: 75px;
  }
  
  .tituloContainer {

  }

  .parrafoContainer, .parrafoInstruccionesContainer {
      width: 100%; /* Ancho de la caja */
      height: fit-content;
      border: 4px solid var(--headingBG); /* Borde de la caja */
      margin-left: auto; /* Alinear a la derecha */
      margin-right: auto;
      gap: 1.5rem;
      border-radius: 50px;
  }
  .parrafoPersonalContainer {
    width: 80%;
    height: fit-content;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    border: 4px solid white;
    border-radius: 10%;
  }
  .botonInvisible{
    background-color: #242526 ;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    color: white;
    padding-left: 5px;
    cursor:pointer;
    
  }
  .botonInvisible:hover{
    color: var(--headingBG);
  }
  .botonVisibilidad{
    width: 20px;
  }
  .botonVisibilidad:hover{
    color: black;
  }
  .parrafoPersonal{
      font-size: 105%;
      text-align: center;
      align-self: center;
      position: absolute;
  }
  .ContainerVisible{
    border: 4px solid var(--headingBG);
    padding: 15%;
    border-radius: 50px;
    width: 110%;
    align-self: center;
  }
  .parrafoSSchess, .parrafoInstrucciones {
      
      font-size: 105%;
      text-align: center;
      padding: 7%;
  }
}

@media only screen and (max-width: 600px) {
  .mainContainer{
    color: #E3E3E3;
    background-color: #242526;
    font-family: 'Montserrat', sans-serif;
    width: 50%; /* Ancho de la caja */
    display: flex;
    gap: 1rem;
    flex-direction: row;
    height: fit-content;
    padding-right: 5%;
    padding-bottom: 2%;
  }


}
